<title>Magsmen | Your Brand Experts!</title>
<meta name="description" content="At Magsmen, we don't simply tell stories - we make them. Drawing inspiration from the word 'Magsman', meaning storytelling, our team works to craft impactful solutions for your brand's most pressing challenges and help you build a legacy in your line of industry.">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}


<div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- Hero area start -->
        <section class="hero__about" >
          <div class="container g-0 line">
            <span class="line-3"></span>
          <div class="row">
              <div class="col-xxl-12">
                <div class="hero__about-content pb-2">
                  <h1 class="hero-title animation__word_come pb-5 ab-text p-3" >Crafting businesses that make waves, we're the architects at play.</h1>
                  <!-- <h1 class="hero-title animation__word_come pb-5 ab-text" style=" margin-top:-40px">We use qualitative research and creative strategies to deliver outstanding results for your brand to stand out and create a legacy!</h1> -->
              
                  <div class="container pb-5">
                    <div class="row">
                      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                        <!-- <div class="hero__about-award">
                          <img src="{% static 'assets/imgs/about/award.png' %}" alt="Best Studio Award">
                        </div> -->
                      </div>
                      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                        <div class="text-anim p-3 anim-text">
                          <p class="text-dark" style="font-size: 20px;">At Magsmen, we bring together strategy and innovation to make a real
                            difference globally. We're not just about building brands; we're all about creating connections that stick. In
                            today's crowded digital space, we love the challenge of helping brands stand out. Want to see what true customer
                            focus can do for you? Curious to explore how we can elevate your brand over a casual coffee chat? Swing by Magsmen
                            and let's start the conversation.</p>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
              </div>
            </div> 
            <div class="row hero__about-row1">
              <div class="col-xxl-12">
                <div class="hero__about-video">
                  <video loop muted autoplay playsinline>
                    <source src="{% static 'home/images/magsmen-home-page-show-reel-building-brands -company-introduction-India12.mp4' %}" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Hero area end -->


        <!-- Story area start -->
        <section class="story__area">
          <div class="container g-0 line pt-140">
            <span class="line-3"></span>
            <div class="sec-title-wrapper">
              <!-- <div class="from-text">from <span>1990</span></div> -->

              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-5">
                  <h2 class="sec-sub-title title-anim"></h2>
                  <h3 class="sec-title title-anim p-3">Our Story</h3>
                </div>
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-7">
                  <div class="story__text p-3">
                    <p>We don't just talk brands, we build them. We're story architects, using creativity and tech to craft unforgettable
                      experiences that leave customers wanting more.
                    </p>
                    <p>
                      Years of industry experience fuel our understanding on what makes brands tick, allowing us to craft experiences that
                      are both innovative and deeply relevant.
                    </p>
                  </div>
                </div>

              </div>
            </div>
            <div class="row p-3">
              <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-3">
                <div class="story__img-wrapper">
                  <img src="{% static 'assets/imgs/about/magsmen-about-image-312x450.webp' %}" alt="Story Thumbnail" class="w-100">
                </div>
              </div>
              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                <div class="story__img-wrapper img-anim">
                  <img src="{% static 'assets/imgs/about/middle-image.png' %}" alt="Story Thumbnail" data-speed="auto">
                </div>
              </div>
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="story__img-wrapper">
                  <img src="{% static 'assets/imgs/about/magsmen-aboutpage-420-225.png' %}"  alt="Story Thumbnail">
                  <img src="{% static 'assets/imgs/about/right-down-reel.png' %}" alt="Story Thumbnail">
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Story area end -->


        <!-- Counter area start -->
        <section class="counter__area">
          <div class="container g-0 line pb-140 pt-140">
            <span class="line-3"></span>

            <div class="row">
              <div class="col-xxl-12">
                <div class="counter__wrapper-2 counter_animation">
                  <div class="counter__item-2 counter__anim">
                    <h2 class="counter__number">11</h2>
                    <p>Sectors</p>
                    <span class="counter__border"></span>
                  </div>
                  <div class="counter__item-2 counter__anim">
                    <h2 class="counter__number">312+</h2>
                    <p>Brand Strategies Built</p>
                    <span class="counter__border"></span>
                  </div>
                  <div class="counter__item-2 counter__anim">
                    <h2 class="counter__number">412M</h2>
                    <p>Impressions Reached</p>
                    <span class="counter__border"></span>
                  </div>
                  <div class="counter__item-2 counter__anim">
                    <h2 class="counter__number">14</h2>
                    <p>Awards <br>Achievement</p>
                    <span class="counter__border"></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Counter area end -->


        <!-- Team area start -->
       <!-- <section class="team__area pt-140 ">
          <div class="sec-title-wrapper">
          
            <h3 class="sec-title title-anim">The Brains Behind It All</h3>
          </div>


          <div class="swiper team__slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide team__slide">
                
                  <img src="{% static 'assets/imgs/about/magsmen-team-sandeep-image-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Sandeep</h4>
                    <h5 class="team__member-role">Founder & CEO</h5>
                  </div>
                
              </div>

              <div class="swiper-slide team__slide">
                
                  <img src="{% static 'assets/imgs/about/magsmen-team-images-1-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Vamsi Kiran</h4>
                    <h5 class="team__member-role">Design Lead</h5>
                  </div>
                
              </div>

              <div class="swiper-slide team__slide">
                
                  <img src="{% static 'assets/imgs/about/magsmen-team-images-2-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Debby Mathison</h4>
                    <h5 class="team__member-role">Digital Strategist</h5>
                  </div>
                
              </div>

              <div class="swiper-slide team__slide">
               
                  <img src="{% static 'assets/imgs/about/magsmen-team-images-3-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Avinash Krishna</h4>
                    <h5 class="team__member-role">Brand Strategist</h5>
                  </div>
              
              </div>
              <div class="swiper-slide team__slide">
               
                  <img src="{% static 'assets/imgs/about/magsmen-team-images-4-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Karthik Kalagoni</h4>
                    <h5 class="team__member-role">Graphic Designer </h5>
                  </div>
                
              </div>
              <div class="swiper-slide team__slide">
               
                  <img src="{% static 'assets/imgs/about/magsmen-team-images-6-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Saranya Yeluri</h4>
                    <h5 class="team__member-role">Digital Analyst</h5>
                  </div>
               
              </div>
              <div class="swiper-slide team__slide">
                
                  <img src="{% static 'assets/imgs/about/magsmen-team-images-Shilpa-433x550.jpg' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Shilpa Vangala</h4>
                    <h5 class="team__member-role">Head of Operations</h5>
                  </div>
               
              </div>
            </div>
          </div>
        </section> -->
         <!-- Team area start -->
 <section class="team__detail pt-5 pb-5 ">
  <div class="container line pb-140">
    <div class="line-3"></div>
    <div class="row ">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 offset-lg-0 offset-md-2">
        <div class="team__member-img">
          
          <img src="{% static 'home/images/sandeep-img-oo.png' %}" alt="Team Member Picture"   data-speed="0.5">
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-12">
        <div class="sec-title-wrapper pt-120">
          <h2 class="team__member-name-7 animation__char_come"> <br>Sandeep</h2>
          <h3 class="team__member-role-7 animation__char_come">Founder of
            <span>Magsmen Brand Consultants</span>
          </h3>
          <p>Magsmen's journey began in 2020, led by the visionary Mr. N. Sandeep. Leveraging his 8+ years of brand-building expertise, his innovative approach has positioned Magsmen as a leading force in the industry within four years.
          </p>
          <p>Honored with several prestigious awards, Mr. Sandeep goes beyond formulas, believing in the power of brand storytelling to unlock growth potential for businesses of all sectors.</p>
        </div>
        
     
      </div>
    </div>
  </div>
</section>
<!-- Team area end -->
        <!-- Team area end -->

        <!-- <section class="team__area-6 bg-light">
          <div class="container line pt-120 pb-100 px-3">
            <span class="line-3"></span>
        
            <div class="row">
              <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 offset-xxl-4 offset-xl-4">
                <div class="sec-title-wrapper">
                  <h3 class="sec-title title-anim text-light p-3" style="font-size: 35px;">The Brains Behind It All</h3>
                </div>
              </div>
              <div class="swiper team__slider swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden" style="overflow-y: hidden;">
                <div class="swiper-wrapper" id="swiper-wrapper-fe73d3f515b9dd07" aria-live="polite"
                  style="transition-duration: 0ms; transform: translate3d(-2025px, 0px, 0px);">
                  <div class="swiper-slide team__slide swiper-slide-duplicate" role="group" aria-label="8 / 8"
                    style="width: 375px; margin-right: 30px;" data-swiper-slide-index="7">
            
                  </div>
                  <div class="swiper-slide team__slide" role="group" aria-label="1 / 8" style="width: 375px; margin-right: 30px;"
                    data-swiper-slide-index="0">
            
                    <img src="{% static 'assets/imgs/about/sandeep.png' %}" alt="CEO">
                    <div class="team__info">
                      <h4 class="team__member-name">Sandeep</h4>
                      <h5 class="team__member-role">Founder & CEO</h5>
                    </div>
            
                  </div>
             -->
                  <!-- <div class="swiper-slide team__slide" role="group" aria-label="2 / 8" style="width: 375px; margin-right: 30px;"
                    data-swiper-slide-index="1">
            
                    <img src="{% static 'assets/imgs/about/vamsi.png' %}" alt="Team Member">
                    <div class="team__info">
                      <h4 class="team__member-name">Vamsi Kiran</h4>
                      <h5 class="team__member-role">Design Head</h5>
                    </div>
            
                  </div> -->
                  
<!--            
                  <div class="swiper-slide team__slide" role="group" aria-label="3 / 8" style="width: 375px; margin-right: 30px;"
                    data-swiper-slide-index="2">
                    <img src="{% static 'assets/imgs/about/magsmen-team-images-2-433x550.jpg' %}" alt="Team Member">
                    <div class="team__info">
                      <h4 class="team__member-name">Debby Mathison</h4>
                      <h5 class="team__member-role">Digital Strategist</h5>
                    </div>
                  </div> -->
            
                  <!-- <div class="swiper-slide team__slide swiper-slide-prev" role="group" aria-label="4 / 8"
                    style="width: 375px; margin-right: 30px;" data-swiper-slide-index="3">
                    <img src="{% static 'assets/imgs/about/magsmen-team-images-3-433x550.jpg' %}" alt="Team Member">
                    <div class="team__info">
                      <h4 class="team__member-name">Avinash Krishna</h4>
                      <h5 class="team__member-role">Brand Strategist</h5>
                    </div>
                  </div> -->
            
                  <!-- <div class="swiper-slide team__slide swiper-slide-active" role="group" aria-label="5 / 8"
                    style="width: 375px; margin-right: 30px;" data-swiper-slide-index="4">
                    <img src="{% static 'assets/imgs/about/magsmen-team-images-4-433x550.jpg' %}" alt="Team Member">
                    <div class="team__info">
                      <h4 class="team__member-name">Karthik Kalagoni</h4>
                      <h5 class="team__member-role">Graphic Designer </h5>
                    </div>
                  </div>  -->

<!--             
                  <div class="swiper-slide team__slide swiper-slide-next" role="group" aria-label="6 / 8"
                    style="width: 375px; margin-right: 30px;" data-swiper-slide-index="5">
                    <img src="{% static 'assets/imgs/about/saranya.png' %}" alt="Team Member">
                    <div class="team__info">
                      <h4 class="team__member-name">Saranya Yeluri</h4>
                      <h5 class="team__member-role">Head Of Operations & Digital (A.P.)</h5>
                    </div>
                  </div> -->

                  <!-- <div class="swiper-slide team__slide" role="group" aria-label="7 / 8" style="width: 375px; margin-right: 30px;"
                    data-swiper-slide-index="6">
                    <img src="{% static 'assets/imgs/about/shlipa.png' %}" alt="Team Member">
                    <div class="team__info">
                      <h4 class="team__member-name">Shilpa Vangala</h4>
                      <h5 class="team__member-role">Head of Operations(Hyd.)</h5>
                    </div>
                  </div> -->
<!-- 
                  <div class="swiper-slide team__slide" role="group" aria-label="7 / 8" style="width: 375px; margin-right: 30px;"
                    data-swiper-slide-index="6">
                    <img src="{% static 'assets/imgs/about/jaya-sree.png' %}" alt="Team Member">
                    <div class="team__info">
                      <h4 class="team__member-name">Jaya Sree</h4>
                      <h5 class="team__member-role">Social Media Manager</h5>
                    </div>
                  </div> -->

                  <!-- <div class="swiper-slide team__slide" role="group" aria-label="7 / 8" style="width: 375px; margin-right: 30px;"
                    data-swiper-slide-index="6">
                    <img src="{% static 'assets/imgs/about/riddi.png' %}" alt="Team Member">
                    <div class="team__info">
                      <h4 class="team__member-name">Riddi</h4>
                      <h5 class="team__member-role">Junior Strategist</h5>
                    </div>
                  </div> -->

                  <!-- <div class="swiper-slide team__slide" role="group" aria-label="7 / 8" style="width: 375px; margin-right: 30px;"
                    data-swiper-slide-index="6">
                    <img src="{% static 'assets/imgs/about/satya.png' %}" alt="Team Member">
                    <div class="team__info">
                      <h4 class="team__member-name">Satya</h4>
                      <h5 class="team__member-role">Operation Executive</h5>
                    </div>
                  </div> -->

                  <!-- <div class="swiper-slide team__slide" role="group" aria-label="7 / 8" style="width: 375px; margin-right: 30px;"
                  data-swiper-slide-index="6">
                  <img src="{% static 'assets/imgs/about/pretham.png' %}" alt="Team Member">
                  <div class="team__info">
                    <h4 class="team__member-name">Pretham</h4>
                    <h5 class="team__member-role">3D Designer</h5>
                  </div>
                </div> -->
            
                <!-- </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span>
              </div>
            </div>
          </div> -->
        
          <!-- <div class="container line pt-150">
            <div class="line-3"></div>
          </div> -->
        
        <!-- </section> -->
 <!-- show case -->

 
 <section class="showcase__area-4 mt-20 pb-120 p-3">
  
  <div class="container mt-5">
    <div class="row">
      <div style="margin-top: -25px; padding-bottom: 50px;">
        <h2 class="title-anim service__title-3 text-center mt-5" style="text-transform: capitalize;">Brands we work with</h2>
      </div>
      <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
        <div class="showcase__items-4 showcase-mixitup ">
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-sweathatelugufoods-168x168.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-colors-168x168.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-tenalidoublehorse-168x168.png' %}" alt="logos1"></a>
          </div>
         
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-triplexxx-168x168.png' %}" alt="xxx"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-vsb-168x168.png' %}" alt="vsb"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/Suma filmy arts.png' %}" alt="Suma filmy arts"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender logos">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/34.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/Suma Kanakala png.png' %}" alt="Suma Kanakala png"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix game brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/logo3.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-zavane-168x168.png' %}" alt="zavan"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix logos">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/logo4.png' %}" alt="19"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix flyer brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsen-our-partner-jayalakshmi-168x168.png' %}" alt="jayalakshmi"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix posters">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/pronted.png' %}" alt="ssv"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix game posters">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/chakrasiddh.png' %}" alt="liongold"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender game">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsen-our-partner-rootcap-lion-168x168.png' %}" alt="superna"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix game posters">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsen-our-partner-rootcap-logo-168x168.png' %}" alt="root"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix logos game">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsen-our-partner-mvr-logo-168x168.png' %}" alt="mam"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix flyer">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/6.png' %}" alt="bni"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/BD Logo.png' %}" alt="BD Logo"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix brochure posters">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/17.png' %}" alt="backary"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender posters">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/12.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix game logos flyer">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/31.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/20.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix posters flyer">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/8.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/27.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-jayacotton-168x168.png' %}" alt="jayacotton"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/21.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix game brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/the-box.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/29.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/15.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/30.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/24.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/28.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/dhruthi-logo.png' %}" alt="dhruthi"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/10.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/25.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/32.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/16.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/38.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/14.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/11.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/9.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender logos">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/logo2.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/18.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/40.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/26.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/39.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/3.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/13.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/36.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/4.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/7.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/19.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/23.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/5.png' %}" alt="logos1"></a>
          </div>
          <div class="showcase__item-4 fade_bottom_2 mix calender brochure">
            <a href="#"><img src="{% static 'assets/imgs/about/logos/pspk.png' %}" alt="logos1"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- /show case -->

        <!-- CTA area start -->
        <section class="cta__area"> 
          <div class="container line pb-110 dark-p">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="cta__content pt-5">
                <div class="d-flex justify-content-center pb-4">
                  <div class="cta-hand-img">
                  <img src="{% static 'assets/imgs/about/magsmen-aboutpage-handshake.png'%}"  width="100%" alt="handshake" >
                  </div>
                </div>
                  <p class="cta__sub-title">Work with us</p>
                  <h2 class="cta__title title-anim title-anim-1 pt-3 pb-5">We would love to hear more about your project!</h2>
                  <div class="d-flex justify-content-center">
                    <div class="btn-bg-dark bg-dark">
                      <div id="btn_wrapper my-btn">
                        <a href="/reach-us-out/" class="wc-btn-light btn-hover-text btn-hover btn-item"><span></span>Write To Us<i class="fa-solid fa-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- CTA area end -->

      </main>

{% endblock %}