{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}



<div id="smooth-wrapper">
    <div id="smooth-content">
      <main>
        <!-- Blog area start -->
        <section class="blog__area-6 blog__animation">
          <div class="container g-0 line pt-110 pb-110">
            <span class="line-3"></span>
            <div class="row pb-130">
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6" >
                <div class="sec-title-wrapper">
                  <h2 class="sec-title-2 animation__char_come p-2">Brand Corner</h2>
                  <a class=" " href="https://www.linkedin.com/newsletters/brand-corner-7094299043203350528"><img src="{% static 'home/images/brand-corner.png' %}" class="" alt="..."></a>
                  
                </div>
                <div class="cta__btn-5">
                  <a class="btn-together" href="contact.html">Let’s work together <span><i class="fa-solid fa-arrow-right"></i></span></a>
                </div>
              </div>
              <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6" >
                <div class="blog__text">
                  <p>Explore diverse facets of branding through our latest
                    insights and visionary concepts. Gain profound knowledge about the essential elements
                    that empower a brand's success.</p>
                    
                </div>
              </div>
              
            </div>

            <div class="row reset-grid">
              {% for blogitem in blog %} 
              <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 pb-4">
                <div class="card">
                  <a href="/blog/{{blogitem.Sluglink}}" class="blog__btn"><img src="/media/{{blogitem.Image1}}" class="card-img-top image-box__item" alt="..."></a>
                  <div class="card-body">
                    <h6 class="card-title">{{blogitem.Create_at}}</a> | {{blogitem.CreatedName}}</h6>
                    <a href="/blog/{{blogitem.Sluglink}}" class="blog__btn"><h5 class="card-title">{{blogitem.Title}}</h5></a>
                    <p class="card-text"></p>
                    <a href="/blog/{{blogitem.Sluglink}}" class="blog__btn">Read More <span><i
                      class="fa-solid fa-arrow-right"></i></span></a>
                  </div>
                </div>
              </div>
              <!-- <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <article class="blog__item">
                  <div class="blog__img-wrapper">
                    <a href="/blog/{{blogitem.Sluglink}}">
                      <div class="img-box">
                        <img class="image-box__item" src="/media/{{blogitem.Image1}}" alt="Blog Thumbnail">
                        <img class="image-box__item" src="/media/{{blogitem.Image1}}" alt="BLog Thumbnail">
                      </div>
                    </a>
                  </div>
                  <h4 class="blog__meta"><a href="/blog/{{blogitem.Sluglink}}">{{blogitem.Create_at}}</a> | {{blogitem.CreatedName}} </h4>
                  <h5><a href="/blog/{{blogitem.Sluglink}}" class="blog__title">{{blogitem.Title}}</a></h5>
                  <a href="/blog/{{blogitem.Sluglink}}" class="blog__btn">Read More <span><i
                        class="fa-solid fa-arrow-right"></i></span></a>
                </article>
              </div> -->
              
            {% endfor %}

            <nav aria-label="Page navigation conatiner text-center">
              <div class="pagination d-flex justify-content-center pt-5">
                <span class="step-links">
                    {% if posts.has_previous %}
                        <!-- <a href="?page=1">&laquo; first</a> -->
                        <a href="?page={{ posts.previous_page_number }}" class="page-nav-link">previous</a>
                    {% endif %}
            
                    <span class="current-page">
                       <span class="no-of-page">{{ posts.number }} </span> &nbsp; of {{ posts.paginator.num_pages }}
                    </span>
            
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}" class="page-nav-link">next</a>
                        <!-- <a href="?page={{ posts.paginator.num_pages }}">last &raquo;</a> -->
                    {% endif %}
                </span>
              </div>
            </nav>
            

              <!-- <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <article class="blog__item">
                  <div class="blog__img-wrapper">
                    <a href="blog-details.html">
                      <div class="img-box">
                        <img class="image-box__item" src="{% static 'home/images/blog-2.jpg' %}" alt="Blog Thumbnail">
                        <img class="image-box__item" src="{% static 'home/images/blog-2.jpg' %}" alt="BLog Thumbnail">
                      </div>
                    </a>
                  </div>
                  <h4 class="blog__meta"><a href="category.html">18 january 2023</a>//admin </h4>
                  <h5><a href="blog-details.html" class="blog__title">The Psychology behind January Sales</a></h5>
                  <a href="blog-details.html" class="blog__btn">Read More <span><i
                        class="fa-solid fa-arrow-right"></i></span></a>
                </article>
              </div> -->

              <!-- <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <article class="blog__item">
                  <div class="blog__img-wrapper">
                    <a href="blog-details.html">
                      <div class="img-box">
                        <img class="image-box__item" src="{% static 'home/images/blog-3.jpg' %}" alt="Blog Thumbnail">
                        <img class="image-box__item" src="{% static 'home/images/blog-3.jpg' %}" alt="BLog Thumbnail">
                      </div>
                    </a>
                  </div>
                  <h4 class="blog__meta"><a href="category.html">6 january 2023</a>//admin </h4>
                  <h5><a href="blog-details.html" class="blog__title">5 successful strategies to boost your january sales</a></h5>
                  <a href="blog-details.html" class="blog__btn">Read More <span><i
                        class="fa-solid fa-arrow-right"></i></span></a>
                </article>
              </div> -->

            </div>
          </div>
        </section>
        <!-- Blog area end -->


        <!-- CTA area start -->
        <section class="cta__area">
          <div class="container line pb-110">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-12">
                <div class="cta__content">
                  <p class="cta__sub-title">Work with us</p>
                  <h2 class="cta__title title-anim pt-3">We would love to hear more about your project!</h2>
                  <div id="btn_wrapper">
                    <div id="btn_wrapper">
                      <a href="/reach-us-out/" class="wc-btn-black btn-hover btn-item"><span></span>Write to us<i class="fa-solid fa-arrow-right"></i></a>
                    </div>
                    <!-- <a href="/contact/" class="wc-btn-primary btn-item btn-hover"><span></span>talk to us <i
                        class="fa-solid fa-arrow-right"></i></a>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- CTA area end -->

      </main>

{% endblock %}