<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<div id="smooth-wrapper mt-5">
    <div id="smooth-content">
        <main>
            <!-- Portfolio area start -->
    <section class="portfolio__detail" style="background-color: black;margin-top: 90px;">
        <div class="portfolio__detail-top">
          <div class="container g-0 line pt-110 pb-100">
            <span class="line-3"></span>
  
            <div class="row">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="sec-title-wrapper">
                  <h5 class="sec-title animation__char_come text-center text-white"><a class="end text-white" href="">Surya colours</a></h5>
                </div>
              </div>
  
              
            </div>
          </div>
        </div>
  
        <div class="hero__about-video">
            <video loop muted autoplay playsinline>
                
                <source src="{% static 'home/images/kk.mp4' %}" type="video/mp4">
              </video>
        </div>
      
         
          <div class="portfolio__detail-top">
            <div class="container g-0 line  works-padding-two">
              <span class="line-3"></span>
    
              <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <div class="portfolio__detail-text">
                        <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3">Problem</h2>
                        <p class="text-light" style="text-align: justify;">TSurya Colors was struggling to increase brand stability and awareness in the highly competitive market. 
                            They lacked a clear digital and brand strategy, which was resulting in low engagement and product awareness.</p>
                  </div>
                </div>
    
               
              </div>
            </div>
        </div>
     
      <div class="portfolio__detail-thumb">
        <img src="{% static 'assets/imgs/work/portfolio/works-one.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
      </div>
      <div class="portfolio__detail-top">
        <div class="container g-0 line pt-lg-5 pb-20">
          <span class="line-3"></span>

          <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="portfolio__detail-text pt-lg-5">
                    <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3"> Strategy</h2>
                    <p class="text-light" style="text-align: justify;">:Our strategy was to create a comprehensive digital and brand strategy that would increase engagement and 
                        product awareness, leading to increased brand stability. We created social media accounts and executed a digital 
                        plan to engage with users and increase awareness of the product. We also implemented digital and brand strategy 
                        promotions to build the stability of the brand.</p>
              </div>
            </div>

           
          </div>
        </div>
    </div>
    <div class="portfolio__detail-thumb">
      <img src="{% static 'assets/imgs/work/portfolio/works-three.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
    </div>
    <div class="portfolio__detail-top">
      <div class="container g-0 line pt-lg-5 pb-20">
        <span class="line-3"></span>

        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
              <ul class="portfolio__detail-text">
                  <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3"> Results</h2>
                  <li class="text-light" style="text-align: justify;"> Increased brand stability and awareness through a comprehensive digital and brand strategy.</li>
                  <li  class="text-light" style="text-align: justify;">Achieved 150% social growth by engaging with users on social media and executing a successful digital 
                    plan.</li>
                  <li  class="text-light" style="text-align: justify;">Expanded product line with 9x SKU increase to offer a wider range of products to customers.</li>
                  <li class="text-light" >Successfully entered the Mangalore market to expand the brand's reach and market share</li>
                  <li class="text-light" >Leveraged influencer marketing campaigns and viral marketing efforts to attract new users and improve 
                    market position.</li>
                    <li class="text-light">Implemented a PAN India strategy to increase brand growth and sales through e-commerce and social media 
                      promotions.</li>
                      <li class="text-light">Developed and executed 3 successful market entry strategies to expand the brand's presence in new markets.
                    </li>
                      <li class="text-light">Improved customer loyalty through effective digital and brand strategy planning</li>
                   
              </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="portfolio__detail-thumb">
    <img src="{% static 'assets/imgs/work/portfolio/works-three (2).png' %}" alt="Portfolio Thumbnail" data-speed="auto">
  </div>
  <div class="portfolio__detail-top">
    <div class="container g-0 line pt-110 pb-20">
      <span class="line-3"></span>

      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
            <div class="portfolio__detail-text">
              <h2 class="sec-title-2 animation__char_come text-center text-white">Magsmen Brand Consultants.</h2>
                <h2 class="sec-title-6 animation__char_come text-center text-white">Illuminating the Path to Brand Brilliance.</h2>
                
          </div>
        </div>

       
      </div>
    </div>
</div>
      </section>
      <!-- Portfolio area end -->

        </main>
{% endblock %}