<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<div id="smooth-wrapper mt-5">
    <div id="smooth-content">
        <main>
            <!-- Portfolio area start -->
    <section class="portfolio__detail" style="background-color: black;margin-top: 90px;">
        <div class="portfolio__detail-top">
          <div class="container g-0 line works-padding-one">
            <span class="line-3"></span>
  
            <div class="row">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="sec-title-wrapper">
                  <h5 class="sec-title animation__char_come text-center text-white"><a class="end text-white" href="">Tenali Double horse</a></h5>
                </div>
              </div>
  
              
            </div>
          </div>
        </div>
  
        <div class="hero__about-video works-video">
            <video loop muted autoplay playsinline>
                
                <source src="{% static 'home/images/videoplayback.mp4' %}" type="video/mp4">
              </video>
        </div>
      
         
          <div class="portfolio__detail-top">
            <div class="container g-0 line works-padding-two">
              <span class="line-3"></span>
    
              <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-12">
                    <div class="portfolio__detail-text">
                        <h2 class="text-danger animation__char_come  font-weight-bold text-center ">Problem</h2>
                        <p class="text-light" style="text-align: justify;">Tenali Double Horse, one of the biggest brands in South India, needed to focus on consistency, brand 
                            positioning, and clear strategy for new markets. With multiple teams handling the brand, there was a lack of unified 
                            brand guidelines and digital strategy</p>
                  </div>
                </div>
    
               
              </div>
            </div>
        </div>
     
      <div class="portfolio__detail-thumb pt-5 pb-lg-5">
        <img src="{% static 'home/images/tdh-banner.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
      </div>
      <div class="portfolio__detail-top">
        <div class="container g-0 line pt-lg-5 pb-20">
          <span class="line-3"></span>

          <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="portfolio__detail-text pt-lg-3">
                    <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3"> Strategy</h2>
                    <p class="text-light" style="text-align: justify;">We developed a robust solution starting with brand guidelines, educating the teams on the usage of the logo 
                        and brand materials across touchpoints. We then unified their digital strategy by working closely with their social 
                        team, ensuring a streamlined process. We introduced e-commerce in India, implemented an Amazon market entry 
                        strategy in the USA, and executed a direct market entry strategy in the USA. We redefined the product launches and 
                        introduced a new show, "Anubandham," that brought renowned celebrities on board to talk about their stories and 
                        launch Tenali Double Horse products. We also changed the entire brand positioning from competitive to premium 
                        and developed a strategy roadmap to make the brand a pan-Indian market leader by 2025.</p>
              </div>
            </div>

           
          </div>
        </div>
    </div>
    <div class="portfolio__detail-thumb pt-5 pb-lg-5">
      <img src="{% static 'home/images/suma-packets.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
    </div>
    <div class="portfolio__detail-top">
      <div class="container g-0 line pt-lg-5 pb-20">
        <span class="line-3"></span>

        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
              <ul class="portfolio__detail-text">
                  <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3"> Results</h2>
                  <li class="text-light" style="text-align: justify;"> Established brand consistency and positioning for Tenali Double Horse</li>
                  <li  class="text-light" style="text-align: justify;">Educated teams on the usage of the logo and brand materials across touchpoints
                    </li>
                  <li  class="text-light" style="text-align: justify;">Unified the digital strategy to ensure a streamlined process and implemented e-commerce in India.</li>
                  <li class="text-light" >Successfully entered the US market through an Amazon market entry strategy and a direct market entry 
                    strategy.</li>
                  <li class="text-light" >Redefined product launches and introduced the "Anubandham" show to launch products with renowned 
                    celebrities. 
                   </li>
                    <li class="text-light">Changed the brand's positioning from competitive to premium.
                      </li>
                      <li class="text-light">Ongoing strategy roadmap to make the brand a pan-Indian market availability by Q4 2024.
                    </li>
                     
                   
              </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="portfolio__detail-thumb pt-5 ">
    <img src="{% static 'home/images/tenali-double-products.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
  </div>
  <div class="portfolio__detail-top">
    <div class="container g-0 line  pb-20 workspadding-three">
      <span class="line-3"></span>

      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
            <div class="portfolio__detail-text">
              <h2 class="sec-title-2 animation__char_come text-center text-white">Magsmen Brand Consultants.</h2>
                <h2 class="sec-title-6 animation__char_come text-center text-white">Illuminating the Path to Brand Brilliance.</h2>
                
          </div>
        </div>

       
      </div>
    </div>
</div>
      </section>
      <!-- Portfolio area end -->

        </main>
{% endblock %}