<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<div id="smooth-wrapper mt-5">
    <div id="smooth-content">
        <main>
            <!-- Portfolio area start -->
    <section class="portfolio__detail" style="background-color: black;margin-top: 90px;">
        <div class="portfolio__detail-top">
          <div class="container g-0 line pt-110 pb-100">
            <span class="line-3"></span>
  
            <div class="row">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="sec-title-wrapper">
                  <h5 class="sec-title animation__char_come text-center text-white"><a class="end text-white" href="">Triplex</a></h5>
                </div>
              </div>
  
              
            </div>
          </div>
        </div>
  
        <div class="hero__about-video">
            <video loop muted autoplay playsinline>
                
                <source src="{% static 'home/images/triplex-video.mp4' %}" type="video/mp4">
              </video>
        </div>
      
         
          <div class="portfolio__detail-top">
            <div class="container g-0 line workspadding-three">
              <span class="line-3"></span>
    
              <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <div class="portfolio__detail-text pt-lg-5">
                        <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3">Problem</h2>
                        <p class="text-light" style="text-align: justify;">Triplex, as a top detergent company in the Telugu states, faced the challenge of establishing a strong digital and 
                            social media presence to increase brand awareness and reach. The brand needed to improve its digital strategy, 
                            positioning, and reputation management to maintain its competitive edge.</p>
                  </div>
                </div>
    
               
              </div>
            </div>
        </div>
     
      <div class="portfolio__detail-thumb pt-5 pb-5">
        <img src="{% static 'home/images/triplex-one.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
      </div>
      <div class="portfolio__detail-top">
        <div class="container g-0 line pt-lg-5 pb-20">
          <span class="line-3"></span>

          <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="portfolio__detail-text">
                    <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3"> Strategy</h2>
                    <p class="text-light" style="text-align: justify;">We developed a comprehensive digital brand strategy for Triplex that included digital strategy, digital brand 
                        positioning, digital introduction, and reputation management. We focused on content marketing and monthly 
                        campaigns with creative designs to increase engagement and improve followers</p>
                        <p class="text-light" style="text-align: justify;">Digital Strategy: Utilized digital marketing channels like email, social media, and search engine optimization to increase 
                          brand awareness and reach.</p>
                          <p class="text-light">Developed engaging content that resonated with the target audience to increase engagement and improve 
                            followers.</p>
                            <p class="text-light">Utilized social media influencers to increase brand awareness and reach</p>
                        <p class="text-light" style="text-align: justify;">Digital Brand Positioning:Position Triplex as a top detergent brand in the Telugu states through a strong digital presence and engaging 
                          content</p>
                        
                          <p class="text-light" style="text-align: justify;">Digital Introduction:Introduced Triplex to new digital and social media platforms to expand the brand's reach and increase brand 
                            awareness. 
                            </p>

                            <p class="text-light" style="text-align: justify;">Reputation Management:Managed the brand's reputation online by monitoring online reviews and responding to customer feedback in 
                              a timely and professional manner.
                              
                              </p>
                            
             
                      </div>
             
                
         
            </div>

           
          </div>
        </div>
    </div>
    <div class="portfolio__detail-thumb">
      <img src="{% static 'home/images/triplex-two.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
    </div>
    <div class="portfolio__detail-top">
      <div class="container g-0 line pt-lg-5 pb-20">
        <span class="line-3"></span>

        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12 pb-lg-0 pb-5">
              <ul class="portfolio__detail-text">
                  <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3">Solution</h2>
                  <li class="text-light" style="text-align: justify;">Increased engagement by 315x through a comprehensive digital and social media strategy</li>
                  <li  class="text-light" style="text-align: justify;">Launched Triplex in the Tamilnadu market, expanding the brand's presence and reach
                    </li>
                  <li  class="text-light" style="text-align: justify;">Promoted 17 new product launches on social media, increasing brand awareness and sales</li>
                  
                    
                     
                   
              </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="portfolio__detail-thumb">
    <img src="{% static 'home/images/triplex-three.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
  </div>
  <div class="portfolio__detail-top">
    <div class="container g-0 line pt-110 pb-20">
      <span class="line-3"></span>

      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
            <div class="portfolio__detail-text">
              <h2 class="sec-title-2 animation__char_come text-center text-white">Magsmen Brand Consultants.</h2>
                <h2 class="sec-title-6 animation__char_come text-center text-white">Illuminating the Path to Brand Brilliance.</h2>
                
          </div>
        </div>

       
      </div>
    </div>
</div>
      </section>
      <!-- Portfolio area end -->

        </main>
{% endblock %}