<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<div id="smooth-wrapper mt-5">
    <div id="smooth-content">
        <main>
            <!-- Portfolio area start -->
    <section class="portfolio__detail" style="background-color: black;margin-top: 90px;">
        <div class="portfolio__detail-top">
          <div class="container g-0 line pt-110 pb-100">
            <span class="line-3"></span>
  
            <div class="row">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="sec-title-wrapper">
                  <h5 class="sec-title animation__char_come text-center text-white"><a class="end text-white" href="">Vsb Surfaces</a></h5>
                </div>
              </div>
  
              
            </div>
          </div>
        </div>
  
        <div class="hero__about-video">
            <video loop muted autoplay playsinline>
                
                <source src="{% static 'home/images/vsbgroup.mp4' %}" type="video/mp4">
              </video>
        </div>
      
         
          <div class="portfolio__detail-top">
            <div class="container g-0 line workspadding-three">
              <span class="line-3"></span>
    
              <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <div class="portfolio__detail-text pt-5">
                        <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3">Problem</h2>
                        <p class="text-light" style="text-align: justify;">:VSB Group, one of the top exporters of granites and quartz in South India, faced the challenge of 
                            improving their brand presence both online and offline. The brand needed a complete revamp to create a tailored 
                            approach for each of the 45 countries they export to. The company also required a brand architecture for their group 
                            of companies and individual line of brand positioning for each company.</p>
                  </div>
                </div>
    
               
              </div>
            </div>
        </div>
     
      <div class="portfolio__detail-thumb pt-lg-5 pb-5">
        <img src="{% static 'home/images/vsb-one.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
      </div>
      <div class="portfolio__detail-top">
        <div class="container g-0 line pt-lg-5 pb-20">
          <span class="line-3"></span>

          <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="portfolio__detail-text   pb-5">
                    <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3"> Strategy</h2>
                    <p class="text-light" style="text-align: justify;">We developed a comprehensive brand revamp strategy for VSB Group that included brand design, brand 
                        stationery, digital presence, portfolio, and complete rebranding. We also developed strategies to improve the brand 
                        offline and online through events, expos, and tailored approach for each country</p>
              </div>
             
            </div>

           
          </div>
        </div>
    </div>
    <div class="portfolio__detail-thumb">
      <img src="{% static 'home/images/vsb-two.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
    </div>
    <div class="portfolio__detail-top">
      <div class="container g-0 line pt-lg-5 pb-20">
        <span class="line-3"></span>

        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
              <ul class="portfolio__detail-text pb-5">
                  <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3">Solution</h2>
                  <li class="text-light" style="text-align: justify;">Conducted a complete rebranding of VSB Group to create a unique and consistent brand identity</li>
                  <li  class="text-light" style="text-align: justify;">Developed a tailored approach for each of the 45 countries they export to, creating a unique voice and brand 
                    positioning for each market
                    </li>
                  <li  class="text-light" style="text-align: justify;">Created a brand architecture for their group of companies and individual line of brand positioning for each 
                    company.</li>
                    <li  class="text-light" style="text-align: justify;">Improved the brand's online presence through a comprehensive digital strategy, including social media, 
                        email marketing, and search engine optimization</li>
                        <li  class="text-light" style="text-align: justify;">Increased brand visibility and reach through events and expos across India and Germany, bringing more B2B 
                            market for the brand.
                        </li>
                    
                     
                   
              </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="portfolio__detail-thumb">
    <img src="{% static 'home/images/vsb-three.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
  </div>
  <div class="portfolio__detail-top">
    <div class="container g-0 line pt-110 pb-20">
      <span class="line-3"></span>

      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
            <div class="portfolio__detail-text">
              <h2 class="sec-title-2 animation__char_come text-center text-white">Magsmen Brand Consultants.</h2>
                <h2 class="sec-title-6 animation__char_come text-center text-white">Illuminating the Path to Brand Brilliance.</h2>
                
          </div>
        </div>

       
      </div>
    </div>
</div>
      </section>
      <!-- Portfolio area end -->

        </main>
{% endblock %}