<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<section class="feature__area-2 pt-130">
    <div class="feature__top top_feature" style="background-color:#fff;">
        <div class="container">
            <div class="row">
                <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 pb-5 pt-5">
                    <div class="sec-title-wrapper">
                        <h3 class="sec-title title-anim works-main-title">Insights that inspire.
                        </h3>
                    </div>
                    <div class="sec-text text-anim about-text pt-3">
                        <p class="sec-text text-anim text-start text-brand "> Check out the latest industry updates and what the brands are up to</p><br>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xxl-12 works_sec d-flex justify-content-between align-items-center pt-5">
                    <div class="testimonial__sec-title text-anim works_sec_title">
                        <h4 class="title-anim text-dark works_title">FEATURED PROJECTS</h4>
                    </div>
                    <div id="works_btn_4" class="testimonial__btn-4">
                        <div class="next-button swipper-btn text-white btn-next"><i class="fa-solid fa-arrow-left"></i></div>
                        <div class="prev-button swipper-btn text-white btn-prev"><i class="fa-solid fa-arrow-right"></i></div>
                        <!-- <div class="pagination testimonial__pagination-4 text-white">
                            <div class="pag text-white"></div>
                        </div> -->
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="swiper works_slider_info">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="works_slider_item">
                                <img src="/static/assets/imgs/sliders/vision-mission.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="works_slider_item">
                                <img src="/static/assets/imgs/sliders/path.png" alt="">
                            </div>
                        </div>
                        <div class="swiper-slide ">
                            <div class="works_slider_item">
                                <img src="/static/assets/imgs/sliders/strategy.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="works-blog-sec pt-5 pb-5">
    <div class="container">
       <div class="allproject">
            <h5>ALL PROJECTS</h5>
       </div>
        <div class="row pt-5">
            {% for workitem in work_post %}
            <div class="col-lg-4">
                <div class="card works_blog_item">
                    <a href="/work-details/{{workitem.Slug}}"><img src="/media/{{workitem.Image}}" alt=""></a>
                    <div class="card-body">
                        <div class="card-title d-flex justify-content-between">
                            <a href="/work-details/{{workitem.Slug}}"><span class="text-dark">{{workitem.CreateName}}</span></a>
                           <a href="/work-details/{{workitem.Slug}}"><h2 class="blog__detail-date animation__word_come text-dark">{{workitem.CreateAt}}</h2></a>
                        </div>
                        
                        <a href="/work-details/{{workitem.Slug}}"class="text-dark"><h3 class="card-title">{{workitem.Title}}</h3></a>
                    <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere minima temporibus laudantium fugit aliquam itaque?</p> -->
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section class="since-working-sec works_stata-sec bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 pb-5 pt-5">
                <div class="hero__title-wrapper">
                    <h1 class="hero__title text-dark title_hero text-white">Cooking up success stories. </h1>
                    <!-- <p class="hero__sub-title">With every single one of our clients, we
                      bring forth deep passion for
                      <span>creative problem solving</span>
                      which is what we deliver.
                    </p> -->
                    <div class="sec-text text-anim about-text pt-3">
                        <p class="sec-text text-anim about-text text-white text-brand px-5">Be the next chapter</p>
                      </div>
                  </div>
                 
                 
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-12 col-md-12 mx-auto text-white pt-5 pb-5">
                <div class="counter__wrapper-3 d-flex justify-content-around align-items-center">
                  <div class="counter__item-3 item-counter-3">
                    <h2 class="counter__number text-white">11</h2>
                    <p class="text-white">Sectors<br></p>
                  </div>
                  <div class="counter__item-3 item-counter-3">
                    <h2 class="counter__number text-white">312+</h2>
                    <p class="text-white">Brand Strategies Built</p>
                  </div>
                  <div class="counter__item-3 item-counter-3">
                    <h2 class="counter__number text-white">14</h2>
                    <p class="text-white">Awards Achievement</p>
                  </div>
                  <div class="counter__item-3 item-counter-3">
                    <h2 class="counter__number text-white">412M</h2>
                    <p class="text-white">Impressions Reached</p>
                  </div>
                </div>
              </div>
        </div>
    </div>

</section>

        <!-- Roll area start -->
        <section class="roll__area-2 pb-3 area_roller">
            <div class="swiper roll__slider">
                <div class="swiper-wrapper roll__wrapper">
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-sweathatelugufoods-168x168.png' %}" alt="logos1">
                        <!-- <h2>Development</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-colors-168x168.png' %}" alt="logos1">
                        <!-- <h2>Studio</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-tenalidoublehorse-168x168.png' %}" alt="logos1">
                        <!-- <h2>Strategy</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-triplexxx-168x168.png' %}" alt="xxx">
                        <!-- <h2>Branding</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-vsb-168x168.png' %}" alt="vsb">
                        <h2>Agency</h2>
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/Suma filmy arts.png' %}" alt="Suma filmy arts">
                        <!-- <h2>typhography</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/34.png' %}" alt="logos1">
                        <!-- <h2>Design</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/Suma Kanakala png.png' %}" alt="Suma Kanakala png">
                        <!-- <h2>Interaction</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/logo3.png' %}" alt="logos1">
                        <!-- <h2>Element</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-zavane-168x168.png' %}" alt="zavan">
                        <!-- <h2>DIgital SOlution</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/logo4.png' %}" alt="19">
                        <!-- <h2>Strategy</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsen-our-partner-jayalakshmi-168x168.png' %}" alt="jayalakshmi">
                        <!-- <h2>Branding</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/pronted.png' %}" alt="ssv">
                        <!-- <h2>Agency</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/chakrasiddh.png' %}" alt="liongold">
                        <!-- <h2>Interaction</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsen-our-partner-rootcap-lion-168x168.png' %}" alt="superna">
                        <!-- <h2>DIgital SOlution</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsen-our-partner-rootcap-logo-168x168.png' %}" alt="root">
                        <!-- <h2>DIgital SOlution</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsen-our-partner-mvr-logo-168x168.png' %}" alt="mam">
                       
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/6.png' %}" alt="bni">
                      
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/BD Logo.png' %}" alt="BD Logo">
                        
                    </div>

                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/17.png' %}" alt="backary">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/12.png' %}" alt="logos1">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/31.png' %}" alt="logos1">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/20.png' %}" alt="logos1">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/8.png' %}" alt="logos1">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/27.png' %}" alt="logos1">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-jayacotton-168x168.png' %}" alt="jayacotton">
                        
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/21.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/the-box.png' %}" alt="logos1">
                    </div>

                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/29.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/15.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/30.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/24.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/28.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/dhruthi-logo.png' %}" alt="dhruthi">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/10.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/25.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/32.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/16.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/38.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/14.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/11.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/9.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/logo2.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/18.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/40.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/26.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/39.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/3.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/13.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/36.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/4.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/7.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/19.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/23.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/5.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/pspk.png' %}" alt="logos1">
                    </div>
                    
                </div>
            </div>
        </section>
        <!-- Roll area end -->
        
        
        <!-- Roll area start -->
        <section class="roll__area-3 pt-5 pb-5 area_roller">
            <div dir="rtl" class="swiper roll__slider">
                <div class="swiper-wrapper roll__wrapper">
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-sweathatelugufoods-168x168.png' %}" alt="logos1">
                        <!-- <h2>Development</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-colors-168x168.png' %}" alt="logos1">
                        <!-- <h2>Studio</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-tenalidoublehorse-168x168.png' %}" alt="logos1">
                        <!-- <h2>Strategy</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-triplexxx-168x168.png' %}" alt="xxx">
                        <!-- <h2>Branding</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-vsb-168x168.png' %}" alt="vsb">
                        <h2>Agency</h2>
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/Suma filmy arts.png' %}" alt="Suma filmy arts">
                        <!-- <h2>typhography</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/34.png' %}" alt="logos1">
                        <!-- <h2>Design</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/Suma Kanakala png.png' %}" alt="Suma Kanakala png">
                        <!-- <h2>Interaction</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/logo3.png' %}" alt="logos1">
                        <!-- <h2>Element</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-zavane-168x168.png' %}" alt="zavan">
                        <!-- <h2>DIgital SOlution</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/logo4.png' %}" alt="19">
                        <!-- <h2>Strategy</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsen-our-partner-jayalakshmi-168x168.png' %}" alt="jayalakshmi">
                        <!-- <h2>Branding</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/pronted.png' %}" alt="ssv">
                        <!-- <h2>Agency</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/chakrasiddh.png' %}" alt="liongold">
                        <!-- <h2>Interaction</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsen-our-partner-rootcap-lion-168x168.png' %}" alt="superna">
                        <!-- <h2>DIgital SOlution</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsen-our-partner-rootcap-logo-168x168.png' %}" alt="root">
                        <!-- <h2>DIgital SOlution</h2> -->
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsen-our-partner-mvr-logo-168x168.png' %}" alt="mam">
                       
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/6.png' %}" alt="bni">
                      
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/BD Logo.png' %}" alt="BD Logo">
                        
                    </div>

                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/17.png' %}" alt="backary">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/12.png' %}" alt="logos1">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/31.png' %}" alt="logos1">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/20.png' %}" alt="logos1">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/8.png' %}" alt="logos1">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/27.png' %}" alt="logos1">
                        
                    </div>
                    <div class="swiper-slide roll__slide">
                        <img src="{% static 'assets/imgs/about/logos/magsmen-homepage-clients-jayacotton-168x168.png' %}" alt="jayacotton">
                        
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/21.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/the-box.png' %}" alt="logos1">
                    </div>

                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/29.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/15.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/30.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/24.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/28.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/dhruthi-logo.png' %}" alt="dhruthi">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/10.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/25.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/32.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/16.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/38.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/14.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/11.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/9.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/logo2.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/18.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/40.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/26.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/39.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/3.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/13.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/36.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/4.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/7.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/19.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/23.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/5.png' %}" alt="logos1">
                    </div>
                    <div class="swiper-slide roll__slide"> 
                        <img src="{% static 'assets/imgs/about/logos/pspk.png' %}" alt="logos1">
                    </div>
                </div>
            </div>
        </section>
        <!-- Roll area end -->


        
<section class="testimonial__area-3 area_testimonials" style="background-color:#fcfafa;">
    <div class="container">
        <div class="row">
            <div class="swiper testimonial__slider-3">
                <div class="swiper-wrapper">
                    <div class="swiper-slide testimonial__slide-3 d-flex works_testimonials_slider">
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 swiper_itemP_img">
                            <img src="/static/assets/imgs/testimonial/3/testing-image.png" alt="testimonial Image">
                        </div>
                        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 swiper_img_content">
                            <p> <img src="/static/assets/imgs/icon/quote.png" alt="quote"> When we talk about Alts, we do
                                not mean a
                                typical business partner, but rather a team
                                that
                                collaborates with us daily, always there for us when we encounter difficulties and
                                celebrate
                                achievements. We see in Alts our best ally for success!
                                <h2 class="client__name-3">Maria D. Halk</h2>
                                <h3 class="client__role-3">Managing Director</h3>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide testimonial__slide-3 d-flex works_testimonials_slider">
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 swiper_itemP_img">
                            <img src="/static/assets/imgs/testimonial/3/testing-image.png" alt="testimonial Image">
                        </div>
                        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 swiper_img_content">
                            <p> <img src="/static/assets/imgs/icon/quote.png" alt="quote"> When we talk about Alts, we do
                                not mean a
                                typical business partner, but rather a team
                                that
                                collaborates with us daily, always there for us when we encounter difficulties and
                                celebrate
                                achievements. We see in Alts our best ally for success!
                                <h2 class="client__name-3">Maria D. Halk</h2>
                                <h3 class="client__role-3">Managing Director</h3>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide testimonial__slide-3 d-flex works_testimonials_slider">
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 swiper_itemP_img">
                            <img src="/static/assets/imgs/testimonial/3/testing-image.png" alt="testimonial Image">
                        </div>
                        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 swiper_img_content">
                            <p> <img src="/static/assets/imgs/icon/quote.png" alt="quote"> When we talk about Alts, we do
                                not mean a
                                typical business partner, but rather a team
                                that
                                collaborates with us daily, always there for us when we encounter difficulties and
                                celebrate
                                achievements. We see in Alts our best ally for success!
                                <h2 class="client__name-3">Maria D. Halk</h2>
                                <h3 class="client__role-3">Managing Director</h3>
                            </p>
                        </div>
                    </div>

                    <div class="swiper-slide testimonial__slide-3 d-flex works_testimonials_slider">
                        <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5 swiper_itemP_img">
                            <img src="/static/assets/imgs/testimonial/3/testing-image.png" alt="testimonial Image">
                        </div>
                        <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 swiper_img_content">
                            <p> <img src="/static/assets/imgs/icon/quote.png" alt="quote"> When we talk about Alts, we do
                                not mean a
                                typical business partner, but rather a team
                                that
                                collaborates with us daily, always there for us when we encounter difficulties and
                                celebrate
                                achievements. We see in Alts our best ally for success!
                                <h2 class="client__name-3">Maria D. Halk</h2>
                                <h3 class="client__role-3">Managing Director</h3>
                            </p>
                        </div>
                    </div>
    
                </div>
                <div class="swiper-icons">
                    <div class="next-button swipper-btn btn-next"><i class="fa-solid fa-arrow-left"></i></div>
                    <div class="prev-button swipper-btn"><i class="fa-solid fa-arrow-right"></i></div>
                </div>
    
            </div>
        </div>
    </div>
</section>


<section class="pt-5 pb-5" style="background-color: #fff;">
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="sec-title-wrapper">
                    <a href="/reach-us-out/" class="get-to-work"><h3 class="sec-title text-dark">Have a project in mind? let's <br>get to work <i class="fa-solid fa-arrow-right"></i> 
                    </h3></a>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}