{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}



<div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- Development area start -->
        <section class="development__area">
          <div class="container g-0 line pt-130 pb-150">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                <div class="sec-title-wrapper">
                  <h2 class="sec-title animation__char_come p-3">Brand Consulting Services
                  </h2>
                </div>
              </div>
              <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                <div class="development__wrapper">
                  <div class="development__content1 p-3">
                    <p>We work with brands as a true strategic partner, applying rigorous standards and creative ingenuity
                      to build it up</p>
                  </div>
                
                </div>
              </div>
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="development__img d-flex justify-content-center">
                  <div class="hero__about-video px-3">
                    <video loop muted autoplay playsinline>
                      <source src="{% static 'assets/imgs/service/service/magsmen-brand-consulting-service-850x400.mp4' %}"  type="video/mp4" alt="video not display">
                    </video>
                  </div>
                  <!-- <img src="{%static 'assets/imgs/services-img/magsmen-brand-consulting-service-image-850x400.png' %}" alt="Development Image" data-speed="auto"> -->
                </div>
              </div>
              <!-- <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="development__img">
                  <img src="{% static 'assets/imgs/thumb/dev-2.jpg' %}" alt="Development Image">
                </div>
              </div> -->
            </div>
          </div>
        </section>
        <!-- Development area end -->

             <!-- Service area start -->
             
        <section class="portfolio__service service-v5 pt-140 pb-140">
          <div class="container">
            <div class="portfolio__service-list">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                    
                      <h3 class="ps-title">Brand Strategy</h3>
                      <p >Crystalize who your brand is for – and who it’s not for. We’ll map when, where and how your
                        customers interact with your brand – and areas of critical impact to guide future brand strategy and creative development.
                      </p>
                    
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">Brand Architecture </h3>
                      <p>Maximize the equity of your brand portfolio by defining the organizing principles,
                        relationships, and hierarchies for your company, products, and services.
                      </p>
                   
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">Brand Identity and Design</h3>
                      <p style="margin-top: -10px;">Your brand identity is so much more than a logo. We’ll deliver the visual brand
                        language elements across digital and physical experiences that will connect with
                        your audience and bring your essential brand to life.
                      </p>
                   
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">Designing Customer</h3>
                      <p>We help improve your customer experience at every touchpoint with an accurate snapshot of all
                        the ways shoppers interact with your brand.                      
                      </p>
                    
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                    
                      <h3 class="ps-title">Building & Maintaining Brand Dynamics</h3>
                      <p>We help brands stand out through aweful, elegant visual design. Our design mainly philosophy.
                      </p>
                   
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">Maintaining Brand voice & Messaging</h3>
                      <p>Bring your brand story to life with unique and authentic language tailored by audience,
                        channel, and different stages of your marketing funnel.
                      </p>
                    
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title"> Brand Positioning</h3>
                      <p style="margin-top:-18px">Understanding a 360° view of your brand’s current state and future potential to identify the
                        critical drivers of success. Understand product and market realities,competitive landscape,
                        cultural trends and consumer needs...
                      </p>
                   
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                    
                      <h3 class="ps-title">Brand Tracking</h3>
                      <p>We power your entire research system with a brand health tracker that delivers actionable
                        context that give and creates a more holistic brand tracking system.
                      </p>
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
           


       

      </main>

{% endblock %}