{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}



<div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- Development area start -->
        <section class="development__area">
          <div class="container g-0 line pt-130 pb-150">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                <div class="sec-title-wrapper">
                  <h2 class="sec-title animation__char_come p-3">Corporate ReBranding Service
                  </h2>
                </div>
              </div>
              <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7">
                <div class="development__wrapper">
                  <div class="development__content1 p-3">
                    <p>We give your brand a refresh to keep up your brand with changes in the marketplace by tweaking
                      your brand’s existing assets.</p>
                  </div>
                
                </div>
              </div>
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="development__img d-flex justify-content-center">
                  <div class="hero__about-video px-3">
                    <video loop muted autoplay playsinline>
                      <source src="{% static 'assets/imgs/service/service/magsmen-corporate-rebranding-consulting-service-850x400.mp4' %}"  type="video/mp4" alt="video not display">
                    </video>
                  </div>
                  <!-- <img src="{%static 'assets/imgs/services-img/magsmen-corporate-rebranding-service-image-850x400.png' %}" alt="Development Image" data-speed="auto"> -->
                </div>
              </div>
              <!-- <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="development__img">
                  <img src="{% static 'assets/imgs/thumb/dev-2.jpg' %}" alt="Development Image">
                </div>
              </div> -->
            </div>
            <div class="row">  
              <div class="col-xxl-8 col-xl-10 offset-xxl-2 offset-xl-1">
                <div class="blog__detail-content p-3">
                  <h2>Changing the way people see</h2>
                  <!-- <p>Always ready to push the boundaries, especially when it comes to our own platform, Our analytical
                    eye to create a site that was visually engaging and also optimised for maximum performance. It also
                    perfectly reflects the journey to help it tell a story to increase its understanding and drive
                    action. To create a site that was visually engaging for maximum performance.</p> -->
                  <ul>
                    <li>Research on the rebranding opportunity and challenges for the brand</li>
                    <li>Revamping the entire identity</li>
                    <li>Rephrasing the entire brand voice</li>
                    <li>Changing your brand inside out</li>
                    <li>Packaging patterns and product patterns</li>
                    <li>Brand stationery</li>
                    <li>Revamped brand positioning</li>
                  </ul>
                  
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Development area end -->

            


       

      </main>

{% endblock %}