

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="" />


  <!-- Fav Icon -->
  <link rel="icon" type="image/x-icon" href="{% static 'assets/imgs/logo/favicon.png' %}">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700&display=swap" rel="stylesheet">

  <!-- All CSS files -->
  <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/all.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/progressbar.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/master.css' %}">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="{% static 'home/home.css' %}">
  <link rel="stylesheet" href="{% static 'about/about.css' %}">
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-175455663-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-175455663-1');
  </script>
</head>


<body>
  



  <!-- Preloader -->
  <div class="preloader">
    
      <div class="loaging-gif"></div>
    

  </div>



  <!-- Switcher Area Start -->
  <div class="switcher__area">
    <div class="switcher__icon">
      <button id="switcher_open"><i class="fa-solid fa-gear"></i></button>
      <button id="switcher_close"><i class="fa-solid fa-xmark"></i></button>
    </div>

    <div class="switcher__items">
      <div class="switcher__item">
        <div class="switch__title-wrap">
          <h2 class="switcher__title">Cursor</h2>
        </div>
        <div class="switcher__btn">
          <select name="cursor-style" id="cursor_style">
            <option value="1">default</option>
            <option selected value="2">animated</option>
          </select>
        </div>
      </div>

      <div class="switcher__item">
        <div class="switch__title-wrap">
          <h2 class="switcher__title">mode</h2>
        </div>
        <div class="switcher__btn mode-type wc-col-2">
          <button class="active" data-mode="light">light</button>
          <button data-mode="dark">dark</button>
        </div>
      </div>
    </div>
  </div>
  <!-- Switcher Area End -->



  <!-- Scroll Smoother -->
  <div class="has-smooth" id="has_smooth"></div>


  <!-- Go Top Button -->
  <button id="scroll_top" class="scroll-top"><i class="fa-solid fa-arrow-up"></i></button>


  <!-- Header area start -->
  <!-- Google tag (gtag.js) -->

  <header class="header__area-3">
    <div class="header__inner-3">
      <div class="header__logo-2">
        <a href="/" class="logo-dark"><img src="{% static 'assets/imgs/service/lanuchpad.png' %}" height="55" alt="Site Logo"></a>
        <a href="/" class="logo-light"><img src="{% static 'assets/imgs/logo/magsmensidebase-mobial-logo-45x200.png' %}" alt="Site Logo"></a>
      </div>
      <!-- <div class="header__nav-2">
        <ul class="main-menu-3 menu-anim">
          <li class="has-megamenu"><a href="/">home</a></li>
          <li><a href="/ourstory/">our story </a></li>
          
          <li><a href="/expertise/">Expertise </a>
            <ul class="main-dropdown">
              <li><a href="/brandconsulting/">Brand Consulting</a></li>
              <li><a href="/personalbrand/">Personal Brand Consulting</a></li>
              <li><a href="/imageconsulting/">Image Consulting</a></li>
              <li><a href="/corporaterebranding/">Corporate Rebranding</a></li>
              <li><a href="/launchpad/">Launchpad</a></li>
            </ul>
          </li>
         
          <li class="has-megamenu"><a href="/ideas/">ideas</a></li>
          <li class="has-megamenu"><a href="/reach-us-out/">Reach us out</a></li>
        
         
        </ul>
      </div> -->
      <div class="header__nav-icon-3">
        <button    class=" btn btn-dark" ><a href="/" class="text-white"> Back To Magsmen</a></button>
        <!-- <button class="search-icon" id="search_close"></i></button>
        <button id="open_offcanvas"><img src="{% static 'assets/imgs/icon/menu-black.png' %}" alt="Menubar Icon"></button> -->
      </div>
    </div>
  </header>
  <!-- <div class="header__search">
    <form action="#">
      <input type="text" name="s" id="s" placeholder="Search..">
    </form>
  </div> -->
  <!-- Header area end -->


 

  <div id="smooth-wrapper" style="background-color: #111A0E;">
    <div id="smooth-content">
      <main>

        <!-- Development area start -->
        <section class="development__area">
          <div class="container g-0 line pt-130 pb-20">
            <div class="line-3"></div>
            <div class="row p-3">
              <h2 class="sec-title animation__char_come text-white text-center">Launchpad by MAGSMEN: Your Partner in Building Successful Ventures
              </h2>
             
              
            </div>
            <div class="row">  
              <div class="col-xxl-8 col-xl-10 offset-xxl-2 offset-xl-1">
                <div class="blog__detail-content">
                
                  <ul  class="how_works p-3">
                    <li class="text-white title-anim ">"Transform Your Idea into Reality with Launchpad"</li>
                    <li class="text-white title-anim ">"Take Your Business to New Heights with MAGSMEN's Launchpad"</li>
                    <li class="text-white title-anim "> "Experience the Power of Partnership with Launchpad"</li>
                    
                  </ul>
                  
        
                  <!-- <p class="text-white title-anim ">
                    <a style="font-weight: 600;">Description: </a> Launchpad is an innovative initiative by MAGSMEN that provides
                    entrepreneurs and businesses
                    with the necessary resources, support, and guidance to help establish and sustain themselves in the market.
                    Our commitment to helping you achieve your business goals is reflected in our investment decisions, which
                    are based on a rigorous evaluation process that takes into account various factors such as market potential,
                    team capabilities, and financial viability
                  </p> -->
                  <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <div class="development__img d-flex justify-content-center">
                      <div class="hero__about-video px-3">
                        <video loop muted autoplay playsinline>
                          <source src="{% static 'assets/imgs/service/magsmen-lanuchpad-page-video-850x400.mp4' %}"  type="video/mp4" alt="video not display">
                        </video>
                      </div>
                      <!-- <img src="{%static 'assets/imgs/services-img/magsmen-corporate-rebranding-service-image-850x400.png' %}" alt="Development Image" data-speed="auto"> -->
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </div>
        </section>
       
                 
                  
                
       
        <section class="portfolio__service service-v5 pt-20 pb-20">
          <div class="container">
            <div class="portfolio__service-list">
              <div class="row">
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                  <div class="portfolio__service-item" >
                  
                    
                      <h3 class="ps-title"> Quality Mentorship</h3>
                      <p >Our experienced mentors will provide you with expert guidance and support,
                        helping you to develop your business idea and navigate the challenges of starting a new venture. They
                        will share their knowledge and expertise, provide feedback on your business plan, and help you to
                        identify and overcome any obstacles you may face along the way
                      </p>
                    
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">International Networking: </h3>
                      <p>At Launchpad, we understand the importance of building a strong network
                        of contacts, and we will help you to connect with like-minded entrepreneurs, investors, and business
                        leaders from around the world. Our international networking events and platforms will provide you
                        with opportunities to share your ideas, collaborate with others, and build valuable relationships that can
                        help to take your business to the next level.
                      </p>
                   
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title"> Business Consultation: </h3>
                      <p style="margin-top: -10px;"> Our experienced consultants will work with you to develop a tailored business
                        strategy that is designed to help you achieve your goals. They will provide you with expert advice on
                        all aspects of starting and growing a business, from market research and product development to
                        branding and marketing
                      </p>
                   
                  </div>
                </div>
                <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title"> Financial Planning: </h3>
                      <p> Launching a new business can be expensive, and financial planning is essential to
                        ensure that you have the resources you need to succeed. Our financial experts will work with you to
                        develop a realistic budget and financial plan, helping you to manage your cash flow, raise capital, and
                        make informed financial decisions that will help your business to grow                     
                      </p>
                    
                  </div>
                </div>
              
               
               
               
              </div>
            </div>
          </div>
        </section>
        <section class="development__area">
          <div class="container g-0 line  pb-20">
            <div class="line-3"></div>
            
            <div class="row">  
              <div class="col-xxl-8 col-xl-10 offset-xxl-2 offset-xl-1">
                <div class="blog__detail-content p-3">
                
                 
        
                  <!-- <p class="text-white title-anim">
                    <a style="font-weight: 600;" >Explanation :</a> Launching a new business can be daunting, and that's where Launchpad comes in. We believe in investing in
                    the ventures we incubate, and our investment decisions are based on a rigorous evaluation process that takes
                    into account various factors such as market potential, team capabilities, and financial viability. Our
                    partnership approach means that we take a stake in your venture without charging any fees, sharing both the
                    risks and rewards with you. This aligns our interests and helps us work together towards a common goal.
                  </p> -->
                  <h3 class="text-white title-anim" >Here’s how it works - <strong>Sharing risks and rewards with you!</strong></h3>
                  <div style="margin-left: 0px;">
                      <ul class="how_works">
                          <li class="text-white title-anim">To participate in Launchpad, Magsmen offers an attractive proposition for
                              entrepreneurs and businesses by taking a stake in their ventures without charging
                              any fees. This means that we share the risk and rewards with you, and our success
                              is linked to your success. We believe that this aligns our interests and helps us work
                              together towards a common goal.</li>
                          <li class="text-white title-anim" >Our stake in your venture is a testament to our confidence in your business and our
                              commitment to help you achieve your goals. We are not just another service
                              provider, but a partner in your journey. Our investment in your venture means that
                              we have a vested interest in its success, and we work tirelessly to help you achieve
                              that success.</li>
                          <li class="text-white title-anim" >We understand that taking an equity stake in your venture is a big decision, and that
                              is why we ensure that our evaluation process is rigorous, transparent and fair. We
                              assess each venture on its own merit and take into account various factors such as
                              market potential, team capabilities, and financial viability.</li>
                        </ul>
                  </div>
                  <p class="text-white title-anim ">At Magsmen, we are committed to building long-term relationships with our clients, and our
                      stake in your venture is a reflection of that commitment. We believe that by sharing the risk
                      and rewards with you, we can work together to create value and achieve success.</p>
                </div>
              </div>
            </div>
          </div>
        </section>
      </main>

      <!-- Footer area start -->
      <footer class="footer__area-3">
        <div class="footer__top-3">
          <div class="footer__top-wrapper-3">
            <div class="footer__logo-3 pt-120" style="display: flex; justify-content: center;">
              <div>
                <img src="{% static 'assets/imgs/logo/magsmen-footer-logo-280x200.png' %}" alt="Footer Logo">
                <p style="text-align: justify;">As one of the leading brand consulting firms, Magsmen is a great choice for businesses that want to turn themselves into a brand. With 9 awards on brand strategy, Magsmen partnered with some of the industry's leading brands in India.</p>
              </div>
              </div>
              
            <div class="footer__social-3">
              <ul>
                <li><a href="https://www.linkedin.com/company/magsmen/?originalSubdomain=in" target="_blank">Linkedin</a></li>
                <li><a href="https://www.instagram.com/magsmenindia/" target="_blank">Instagram</a></li>
                <li><a href="https://www.facebook.com/magsmenindia" target="_blank">facebook</a></li>
                <li><a href="https://www.youtube.com/channel/UCG3agq3IYZmQifQeM2xFNbQ" target="_blank">YouTube</a></li>
                <li><a href="https://twitter.com/magsmenindia" target="_blank">Twitter</a></li>
              </ul>
            </div>
            <div class="footer__contact-3 mt-5">
              <a class="end" href="/reach-us-out/">Let’s talk</a>
            </div>
          </div>
        </div>

        <div class="footer__btm-3">
          <div class="container-fluid">
            <div class="row">
              <div class="col-xxl-2 col-xl-2 col-lg-2">
                <div class="footer__copyright-3">
                  <p>© 2023  &nbsp;| All rights reserved by <a href="/" target="_blank">Magsmen</a>
                  </p>
                </div>
              </div>
              <div class="col-xxl-10 col-xl-10 col-lg-10">
                <div class="footer__nav-2">
                  <ul class="footer-menu-2 menu-anim">
                    <li><a href="/ourstory/">our story</a></li>
                    <li><a href="/privacy-policy/">Privacy Policy</a></li>
                    <li><a href="/reach-us-out/">Reach us out</a></li>
                    <li><a href="/">Career</a></li>
                    <li><a href="/faqs/">FAQs</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      <!-- Footer area end -->


    </div>
  </div>



  <!-- All JS files -->
  <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
  <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/js/counter.js' %}"></script>
  <script src="{% static 'assets/js/gsap.min.js' %}"></script>
  <script src="{% static 'assets/js/ScrollTrigger.min.js' %}"></script>
  <script src="{% static 'assets/js/ScrollToPlugin.min.js' %}"></script>
  <script src="{% static 'assets/js/ScrollSmoother.min.js' %}"></script>
  <script src="{% static 'assets/js/SplitText.min.js' %}"></script>
  <script src="{% static 'assets/js/chroma.min.js' %}"></script>
  <script src="{% static 'assets/js/mixitup.min.js' %}"></script>
  <script src="{% static 'assets/js/vanilla-tilt.js' %}"></script>
  <script src="{% static 'assets/js/jquery.meanmenu.min.js' %}"></script>
  <script src="{% static 'assets/js/main.js' %}"></script>
  <script src="{% static 'assets/js/contact.js' %}"></script>

</body>

</html>




