{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<section class="experetise-sec ">
    <div class="container">
        <div class="row bg-dark mt-5 mb-5 p-5">
            <div class="col-lg-6">
                <div class="services-item text-white">
                    <h3>Brand Experience</h3>
                    <p>Here is everything your brand needs to grow.</p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="services-item-content text-white">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, libero.</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora, unde?</p>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Excepturi, ea.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid, earum.</p>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, libero.</p>
                </div>
            </div>
        </div>
    </div>

</section>

{% endblock %}