{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}



<div id="smooth-wrapper">
    <div id="smooth-content">
      <main>

        <!-- Development area start -->
        <section class="development__area">
          <div class="container g-0 line pt-130 pb-150">
            <div class="line-3"></div>
            <div class="row">
              <div class="col-xxl-5 col-xl-5 col-lg-5 col-md-5">
                <div class="sec-title-wrapper">
                  <h2 class="sec-title animation__char_come p-3">Personal Brand Consulting Service
                  </h2>
                </div>
              </div>
              <div class="col-xxl-7 col-xl-7 col-lg-7 col-md-7 ">
                <div class="development__wrapper">
                  <div class="development__content1 p-3">
                    <p>We help an individual understand which platforms are best for their business and how to use
                      them to reach their target audience. Don’t just build a brand, we help you build a legacy!</p>
                  </div>
                
                </div>
              </div>
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="development__img d-flex justify-content-center">
                  <div class="hero__about-video px-3">
                    <video loop muted autoplay playsinline>
                      <source src="{% static 'assets/imgs/service/service/magsmen-personal-brand-consulting-servic-850x400.mp4' %}"  type="video/mp4" alt="video not display">
                    </video>
                  </div>
                  <!-- <img src="{%static 'assets/imgs/services-img/magsmen-personal-brand-consulting-service-image-850x400.png' %}" alt="Development Image" data-speed="auto"> -->
                </div>
              </div>
              <!-- <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                <div class="development__img">
                  <img src="{% static 'assets/imgs/thumb/dev-2.jpg' %}" alt="Development Image">
                </div>
              </div> -->
            </div>
          </div>
        </section>
        <!-- Development area end -->

        <section class="portfolio__service service-v5 pt-140 pb-140">
          <div class="container">
            <div class="portfolio__service-list">
              <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                    <!-- <a href="service-details.html"> -->
                      <h3 class="ps-title">We tell your story</h3>
                      <p >We identify your position in the industry and how we can make you stand out. We work on
                        developing your strengths into a story and present it to your audience.
                      </p>
                    <!-- </a> -->
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                    
                      <h3 class="ps-title">We add consistency</h3>
                      <p>We add a method to the madness while building your story. We chalk out the to-dos and the
                        plan to reach your goals. We do this consistently to create a pattern of communication.
                      </p>
                    
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                    
                      <h3 class="ps-title">We make it genuine</h3>
                      <p>Being true to yourself is the basis of building your personal brand. We showcase the
                        true you, your beliefs, your thoughts, and expertise and make your digital profile
                        absolutely genuine.
                      </p>
                    
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">We drive conversations</h3>
                      <p>Engage your audience with topics that would interest them. Create a dialogue with your
                        audience and exchange thoughts.                      
                      </p>
                  
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                    
                      <h3 class="ps-title">We measure results</h3>
                      <p>Whether your goal is to become a digital influencer or drive more revenue, we map the
                        plan and monitor to drive results.
                      </p>
                    
                  </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                  <div class="portfolio__service-item">
                   
                      <h3 class="ps-title">Who we work with</h3>
                      <p>Bring your brand story to life with unique and authentic language tailored by audience,
                        channel, and different stages of your marketing funnel.
                      </p>
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
             <!-- Service area start -->
             <!-- <section class="service__area-7 pt-130">
              <div class="container">
                <div class="row">
                  <div class="col-xxl-12">
                    <div class="service__items-7 animation_service_7">
                      <div class="service__item-7">
                        <a href="service-details.html">
                          <h3 class="service__title-7">We tell your story</span></h3>
                        </a>
                        <p>We identify your position in the industry and how we can make you stand out. We work on
                          developing your strengths into a story and present it to your audience.
                        </p>
                      </div>
                      <div class="service__item-7">
                        <a href="service-details.html">
                          <h3 class="service__title-7">We add consistency</span> </h3>
                        </a>
                        <p>We add a method to the madness while building your story. We chalk out the to-dos and the
                          plan to reach your goals. We do this consistently to create a pattern of communication.
                        </p>
                        
                      </div>
                      <div class="service__item-7">
                        <a href="service-details.html">
                          <h3 class="service__title-7"> We make it genuine </h3>
                        </a>
                        <p>Being true to yourself is the basis of building your personal brand. We showcase the
                          true you, your beliefs, your thoughts, and expertise and make your digital profile
                          absolutely genuine.
                        </p>
                      </div>
                      <div class="service__item-7">
                        <a href="service-details.html">
                          <h3 class="service__title-7">We drive conversations </h3>
                        </a>
                        <p>Engage your audience with topics that would interest them. Create a dialogue with your
                          audience and exchange thoughts.                      
                        </p>
                      </div>
                      <div class="service__item-7">
                        <a href="service-details.html">
                          <h3 class="service__title-7">We measure results</h3>
                        </a>
                        <p>Whether your goal is to become a digital influencer or drive more revenue, we map the
                          plan and monitor to drive results.
                        </p>
                        
                      </div>
                       <div class="service__item-7">
                        <a href="service-details.html">
                          <h3 class="service__title-7">Who we work with</h3>
                        </a>
                        <p>Bring your brand story to life with unique and authentic language tailored by audience,
                          channel, and different stages of your marketing funnel.
                        </p>
                      </div>
    
                      
    
    
                    </div>
                  </div>
                </div>
              </div>
            </section> -->
            <!-- Service area end -->
    


       

      </main>

{% endblock %}