<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<div id="smooth-wrapper mt-5">
    <div id="smooth-content">
        <main>
            <!-- Portfolio area start -->
    <section class="portfolio__detail" style="background-color: black;margin-top: 90px;">
        <div class="portfolio__detail-top">
          <div class="container g-0 line pt-110 pb-100">
            <span class="line-3"></span>
  
            <div class="row">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="sec-title-wrapper">
                  <h5 class="sec-title animation__char_come text-center text-white"><a class="end text-white" href="">TDH RISHIKA</a></h5>
                </div>
              </div>
  
              
            </div>
          </div>
        </div>
  
        <div class="hero__about-video">
            <video loop muted autoplay playsinline>
                
                <source src="{% static 'home/images/sunnaddlu.mp4' %}" type="video/mp4">
              </video>
        </div>
      
         
          <div class="portfolio__detail-top">
            <div class="container g-0 line workspadding-three">
              <span class="line-3"></span>
    
              <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <div class="portfolio__detail-text pt-lg-5">
                        <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3">Problem</h2>
                        <p class="text-light" style="text-align: justify;">TDH, a baby brand from Tenali Double Horse focused on the FMCG industry, faced the challenge of establishing a 
                            unique brand identity and launching the product across India in a cost-efficient manner. The brand needed to 
                            develop a comprehensive strategy for package design, brand strategy, and content and influencer marketing to 
                            improve brand awareness and sales.</p>
                  </div>
                </div>
    
               
              </div>
            </div>
        </div>
     
      <div class="portfolio__detail-thumb pt-5 pb-5">
        <img src="{% static 'home/images/tdh-one.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
      </div>
      <div class="portfolio__detail-top">
        <div class="container g-0 line pt-lg-5 pb-20">
          <span class="line-3"></span>

          <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="portfolio__detail-text ">
                    <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3"> Strategy</h2>
                    <p class="text-light" style="text-align: justify;">We developed a comprehensive brand strategy for TDH that included package design, brand strategy, and 
                        content and influencer marketing to improve brand awareness and sales. We also focused on launching the product 
                        across India in a cost-efficient manner</p>
              </div>
             
            </div>

           
          </div>
        </div>
    </div>
    <div class="portfolio__detail-thumb">
      <img src="{% static 'home/images/tdh-two.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
    </div>
    <div class="portfolio__detail-top">
      <div class="container g-0 line pt-5 pb-20">
        <span class="line-3"></span>

        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
              <ul class="portfolio__detail-text">
                  <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3">Solution</h2>
                  <li class="text-light" style="text-align: justify;">Developed a unique and consistent brand identity for TDH that established the brand as a leading provider of 
                    baby products in the FMCG industry</li>
                  <li  class="text-light" style="text-align: justify;">Planned and executed a comprehensive package design and brand strategy to launch the product across India 
                    in a cost-efficient manner
                    </li>
                  <li  class="text-light" style="text-align: justify;">Utilized content and influencer marketing with brand endorsement to improve brand awareness and reach</li>
                  <li  class="text-light" style="text-align: justify;">Launched the brand across pan India on the eve of Father's Day with a campaign featuring 28 kids from 28 
                    different states in 17 different languages, making it a pan India brand</li>
                    <li  class="text-light" style="text-align: justify;">Achieved 52312% increase in awareness and traffic through the campaign, resulting in increased brand 
                        visibility and sales across India within 2 months.</li>
                    
                  
                    
                     
                   
              </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="portfolio__detail-thumb">
    <img src="{% static 'home/images/tdh-three.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
  </div>
  <div class="portfolio__detail-top">
    <div class="container g-0 line pt-110 pb-20">
      <span class="line-3"></span>

      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
            <div class="portfolio__detail-text">
              <h2 class="sec-title-2 animation__char_come text-center text-white">Magsmen Brand Consultants.</h2>
                <h2 class="sec-title-6 animation__char_come text-center text-white">Illuminating the Path to Brand Brilliance.</h2>
                
          </div>
        </div>

       
      </div>
    </div>
</div>
      </section>
      <!-- Portfolio area end -->

        </main>
{% endblock %}