<title>Magsmen | Helping your brand stand out from the noise</title>
<meta name="description" content="We identify your position in the industry and how we can make you stand out. We work on developing your strengths into a story and present it to your audience.">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}

<div id="smooth-wrapper">
    <div id="smooth-content">
        <main>

        <section class="hero__about1">
          <div class="container g-0 line">
            <span class="line-3"></span>
            <div class="row">
              <div class="col-xxl-12">
                <div class="hero__about-content pb-2 service-text">
                  <h1 class="hero-title animation__word_come pb-5 ab-text p-3" style="font-size: 40px;">Elevate Your Brand with South India's Premier Brand Consultants</h1>
                  <!-- <h1 class="hero-title animation__word_come pb-5 ab-text" style="font-size: 40px;">Magsmen is a reputation centric, brand consulting firm.</h1>
                  <h1 class="hero-title animation__word_come pb-5 ab-text" style="font-size: 40px; margin-top:-40px">We use qualitative research and creative strategies to deliver outstanding results for your brand to stand out and create a legacy!</h1> -->
                </div>
              </div>
            </div> 
            <div class="row" style="margin-bottom: -120px;">
              <div class="col-xxl-12">
                <div class="hero__about-video">
                  <video loop muted autoplay playsinline >
                    <source src="{% static 'assets/imgs/service/navigation centre.mp4' %}" type="video/mp4">
                  </video>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Hero area end -->
 
        <section class="portfolio__service service-v5 myservice  pb-140">
            <div class="container">
              <div class="portfolio__service-list">
                <div class="row">
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="portfolio__service-item">
                      <a href="/brandconsulting/">
                        <h3 class="ps-title">Brand Consulting</h3>
                        <p>We work with brands as a true strategic partner, applying rigorous standards and
                          creative ingenuity to build it up.
                        </p>
                      </a>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="portfolio__service-item">
                      <a href="/personalbrand/">
                        <h3 class="ps-title">Personal Brand Consulting </h3>
                        <p style="margin-top: -20px;">We help an individual understand which platforms are best for their business and how to use
                            them to reach their target audience. Don’t just build a brand..!
                        </p>
                      </a>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="portfolio__service-item">
                      <a href="/imageconsulting/">
                        <h3 class="ps-title">Image Consulting</h3>
                        <p>Explore and learn about your own power of image and style, leverage it to the best use, while having
                            fun doing it.
                        </p>
                      </a>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="portfolio__service-item">
                      <a href="/corporaterebranding/">
                        <h3 class="ps-title">Corporate Rebranding</h3>
                        <p>We give your brand a refresh to keep up your brand with changes in the marketplace by tweaking
                            your brand’s existing assets.                     
                        </p>
                      </a>
                    </div>
                  </div>
                  <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4">
                    <div class="portfolio__service-item">
                      <a href="#">
                        <h3 class="ps-title">Startup Brand Partnership</h3>
                        <p>We create, products, brands, apps & websites for the companies all around the world class
                            digital
                            products
                        </p>
                      </a>
                    </div>
                  </div>
                 
                </div>
              </div>
            </div>
          </section>
  
  
           
        </main>

{% endblock %}