<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<div id="smooth-wrapper mt-5">
    <div id="smooth-content">
        <main>
            <!-- Portfolio area start -->
    <section class="portfolio__detail" style="background-color: black;margin-top: 90px;">
        <div class="portfolio__detail-top">
          <div class="container g-0 line pt-110 pb-100">
            <span class="line-3"></span>
  
            <div class="row">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="sec-title-wrapper">
                  <h5 class="sec-title animation__char_come text-center text-white"><a class="end text-white" href="">Telugu Foods</a></h5>
                </div>
              </div>
  
              
            </div>
          </div>
        </div>
  
        <div class="hero__about-video">
            <video loop muted autoplay playsinline>
                
                <source src="{% static 'home/images/telugu-foods.mp4' %}" type="video/mp4">
              </video>
        </div>
      
         
          <div class="portfolio__detail-top">
            <div class="container g-0 line pt-110 pb-20">
              <span class="line-3"></span>
    
              <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <div class="portfolio__detail-text pt-5">
                        <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3">Problem</h2>
                        <p class="text-light" style="text-align: justify;">Telugu Foods was struggling to increase brand awareness and sales in the highly competitive food industry. They 
                          lacked a clear digital and social media strategy, and their B2B business was not performing as well as they had 
                          hoped</p>
                  </div>
                </div>
    
               
              </div>
            </div>
        </div>
     
      <div class="portfolio__detail-thumb">
        <img src="{% static 'assets/imgs/work/portfolio/two.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
      </div>
      <div class="portfolio__detail-top">
        <div class="container g-0 line pt-5 pb-20">
          <span class="line-3"></span>

          <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="portfolio__detail-text pt-5">
                    <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3"> Strategy</h2>
                    <p class="text-light" style="text-align: justify;">Our strategy was to create a comprehensive digital and social media plan to engage with users and increase product 
                      awareness. We also planned and executed shows and events to increase B2B business, and wrote annual brand plans 
                      to improve overall brand strategy. Finally, we implemented influencer marketing campaigns and viral marketing 
                      efforts to attract new users and improve market position.</p>
              </div>
            </div>

           
          </div>
        </div>
    </div>
    <div class="portfolio__detail-thumb">
      <img src="{% static 'assets/imgs/work/portfolio/one.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
    </div>
    <div class="portfolio__detail-top">
      <div class="container g-0 line pt-5 pb-20">
        <span class="line-3"></span>

        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
              <ul class="portfolio__detail-text">
                  <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3"> Results</h2>
                  <li class="text-light" style="text-align: justify;"> Created a comprehensive digital and social media plan to increase product awareness.</li>
                  <li  class="text-light" style="text-align: justify;">Engaged with users through messaging to improve customer experience.</li>
                  <li  class="text-light" style="text-align: justify;">Planned and executed successful shows and events to increase B2B sales</li>
                  <li class="text-light" >Implemented annual brand plans to improve overall brand strategy.</li>
                  <li class="text-light" >Leveraged influencer marketing campaigns and viral marketing efforts to attract new users and improve 
                    market position.</li>
                    <li class="text-light">Implemented a PAN India strategy to increase brand growth and sales through e-commerce and social media 
                      promotions.</li>
                      <li class="text-light">Increased the market positioning by 16x</li>
                      <li class="text-light">Increased the social conversation by 22x</li>
                      <li class="text-light">Engagement increased 159x</li>
              </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="portfolio__detail-thumb">
    <img src="{% static 'assets/imgs/work/portfolio/three.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
  </div>
  <div class="portfolio__detail-top">
    <div class="container g-0 line pt-110 pb-20">
      <span class="line-3"></span>

      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
            <div class="portfolio__detail-text">
              <h2 class="sec-title-2 animation__char_come text-center text-white">Magsmen Brand Consultants.</h2>
                <h2 class="sec-title-6 animation__char_come text-center text-white">Illuminating the Path to Brand Brilliance.</h2>
                
          </div>
        </div>

       
      </div>
    </div>
</div>
      </section>
      <!-- Portfolio area end -->

        </main>
{% endblock %}