<title>Magsmen | Works</title>
<meta name="description" content="some of the brands we built include suma filmy arts, tenali double horse, triplex detergents, telugu foods, Cargill, surya colors and many more">
<meta name="keywords" content="brand consultent, Brand Experts">

{% extends 'uifiles/base.html' %}
{% load static %}
{% block content %}
<div id="smooth-wrapper mt-5">
    <div id="smooth-content">
        <main>
            <!-- Portfolio area start -->
    <section class="portfolio__detail" style="background-color: black;margin-top: 90px;">
        <div class="portfolio__detail-top">
          <div class="container g-0 line pt-110 pb-100">
            <span class="line-3"></span>
  
            <div class="row">
              <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="sec-title-wrapper">
                  <h5 class="sec-title animation__char_come text-center text-white"><a class="end text-white" href="">Zavaine</a></h5>
                </div>
              </div>
  
              
            </div>
          </div>
        </div>
  
        <div class="hero__about-video">
            <video loop muted autoplay playsinline>
                
                <source src="{% static 'home/images/zavaine-video.mp4' %}" type="video/mp4">
              </video>
        </div>
      
         
          <div class="portfolio__detail-top">
            <div class="container g-0 line workspadding-three pb-20">
              <span class="line-3"></span>
    
              <div class="row">
                <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                    <div class="portfolio__detail-text pt-lg-5">
                        <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3">Problem</h2>
                        <p class="text-light" style="text-align: justify;">Zavaine, India's first detergent tablet and a sister brand of Triplex, South India's biggest detergent brand, needed to 
                            establish itself as a market leader and increase product awareness and sales. As the first brand consultants in India to 
                            market the product, we faced the challenge of building the brand from scratch</p>
                  </div>
                </div>
    
               
              </div>
            </div>
        </div>
     
      <div class="portfolio__detail-thumb pt-5 pb-5">
        <img src="{% static 'home/images/zavaine -one.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
      </div>
      <div class="portfolio__detail-top">
        <div class="container g-0 line pt-lg-5 pb-20">
          <span class="line-3"></span>

          <div class="row">
            <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
                <div class="portfolio__detail-text ">
                    <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3"> Strategy</h2>
                    <p class="text-light" style="text-align: justify;">As the first brand consultants in India to market Zavaine, we established it as a unique and innovative detergent 
                        brand. We positioned Zavaine as a high-quality, convenient, and eco-friendly solution for customers who value time 
                        and convenience without compromising on performance. We used a comprehensive digital strategy to increase 
                        product awareness.Our social media strategy was designed to engage with customers, promote the brand. We 
                        developed a budget roadmap to ensure that the brand's marketing efforts were cost-effective and efficient</p>
              </div>
            </div>

           
          </div>
        </div>
    </div>
    <div class="portfolio__detail-thumb">
      <img src="{% static 'home/images/zavaine-two.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
    </div>
    <div class="portfolio__detail-top">
      <div class="container g-0 line pt-lg-5 pb-20">
        <span class="line-3"></span>

        <div class="row">
          <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
              <ul class="portfolio__detail-text pb-5">
                  <h2 class="text-danger animation__char_come  font-weight-bold text-center pb-3">Solution</h2>
                  <li class="text-light" style="text-align: justify;"> Increased engagement by 15x and brand recall by 217x through a comprehensive digital and social media 
                    strategy</li>
                  <li  class="text-light" style="text-align: justify;">Utilized e-commerce platforms like Amazon and Flipkart to expand product reach and drive sales, resulting 
                    in 124,299 sales in the first 3 months of executing the digital strategy
                    </li>
                  <li  class="text-light" style="text-align: justify;">Expanded the brand's presence in 3 new markets, increasing brand visibility and reach</li>
                  
                     
                   
              </ul>
          </div>
        </div>
      </div>
  </div>
  <div class="portfolio__detail-thumb">
    <img src="{% static 'home/images/zavaine-two.png' %}" alt="Portfolio Thumbnail" data-speed="auto">
  </div>
  <div class="portfolio__detail-top">
    <div class="container g-0 line pt-110 pb-20">
      <span class="line-3"></span>

      <div class="row">
        <div class="col-xxl-12 col-xl-12 col-lg-12 col-md-12">
            <div class="portfolio__detail-text">
              <h2 class="sec-title-2 animation__char_come text-center text-white">Magsmen Brand Consultants.</h2>
                <h2 class="sec-title-6 animation__char_come text-center text-white">Illuminating the Path to Brand Brilliance.</h2>
                
          </div>
        </div>

       
      </div>
    </div>
</div>
      </section>
      <!-- Portfolio area end -->

        </main>
{% endblock %}